
#trzLogo {
    z-index: 1000;
}

.trzNavigationMenuRoot {
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.trzNavigationMenuList {
	margin: 0;
    padding: 0;
	list-style: none;
	display: inline-flex;
    align-items: end;
	justify-content: center;
    gap: calc(1rem * var(--mantine-scale));
}

#trzAutocomplete {
    width: 10rem;
    background-color: inherit;
}
#trzAutocomplete:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
#trzAutocomplete:focus {
    width: 25rem;
}

.trzNavLink {
    font-size: calc(1.4rem * var(--mantine-scale));
}

.trzButton {
    padding-top: calc(0.15rem * var(--mantine-scale));
    padding-bottom: calc(0.15rem * var(--mantine-scale));
    padding-left: calc(0.6rem * var(--mantine-scale));
    padding-right: calc(0.6rem * var(--mantine-scale));
    border: none;
    border-radius: var(--mantine-radius-default);
    color: var(--mantine-color-text);
    background-color: inherit;
}
.trzButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
